* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  



body {
    background-color: #0D0208;
  }
  
  h1 {
    color: #00FF41;
    text-align: center;
    text-shadow: #00FF41 1px 0 10px
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }


