body {
  margin: 0;
  background: radial-gradient(circle at center, #0a0a1a 0%, #050510 100%);
  overflow: hidden;
  background-color: #0b0b0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


#gameCanvas {
  display: none; /* hidden until game starts */
  background-color: #000;
  display: block;
  margin: auto;
  margin-top: 50px;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 255, 255, 0.1) 0px,
    rgba(0, 255, 255, 0.1) 5px,
    rgba(0, 255, 255, 0.05) 5px,
    rgba(0, 255, 255, 0.05) 10px
  );
  border: 2px solid cyan;
  box-shadow: 0 0 20px cyan, 0 0 40px magenta;
}


#home-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0b0b0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

#start-text {
  font-family: "Jersey 10", sans-serif;
  font-size: 4rem;
  color: #0ff;
  text-shadow: 0 0 20px #0ff, 0 0 40px #ff00ff;
  cursor: pointer;
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 1; text-shadow: 0 0 20px #0ff; }
  50% { opacity: 0.7; text-shadow: 0 0 40px #ff00ff; }
  100% { opacity: 1; text-shadow: 0 0 20px #0ff; }
}



@media (max-width: 768px) {
  .line1 {
    flex-direction: column;
    text-align: center;
  }
  .line2 {
    flex-direction: column;
  }
}